
<ng-template [ngIf]="!action"><h1>Lista</h1>
</ng-template>
<ng-template [ngIf]="action =='edit'"><h1>edit</h1>
</ng-template>
<ng-template [ngIf]="action =='add'">
  <div class="row-fluid offset-md-1">
    <div class="col-md-12 ">
        <h1>{{title}}</h1>
    </div>
  </div>
  <div class="row-fluid offset-md-1">
    <div class="col-md-12">
      <form>
        <div class="col-md-7 float-left">
          <fieldset>
            <legend>Detalhes</legend>
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" id="nome">
            </div>
            <div class="form-group">
              <label for="exampleSelect1">Categoria</label>
              <select class="form-control" id="exampleSelect1">
                <option *ngFor="let item of listCats" value="{{item.categorycode}}">{{item.categoryName}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="desc">Descrição</label>
              <textarea class="form-control" id="desc" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="stock">Stock</label>
                <input class="form-control" type="number" value="50" id="stock">
            </div>
            <div class="form-group">
              <label class="control-label">Preço</label>
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">€</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                  <div class="input-group-append">
                    <span class="input-group-text"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile02">
                  <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text" id="">Upload</span>
                </div>
              </div>
            </div>
            </fieldset>
            <fieldset class="form-group">
              <legend>Adicionar Atributos</legend>
              <div class="form-group row">
                <div class="col-sm-5">
                  <label for="attrVal" >Tipo</label>
                  <select #type class="custom-select">
                    <option selected value="0">Selecionar</option>
                    <option *ngFor="let item of listAttrs" value="{{item._id}}">{{item.attributo}}</option>
                  </select>
                </div>
                <div class="col-sm-5">
                  <label for="attrVal">Valor</label>
                  <input #typeVal type="text" class="form-control" id="attrVal">
                </div>
                <div class="col-sm-2 align-self-end">
                  <button type="button" class="btn btn-info" (click)="addAttrToProd(type.value, typeVal.value,attrArea)">+</button>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
          </div>
          <div class="col-md-5 float-right">
            <fieldset class="form-group">
              <legend>Atributos</legend>
              <div #attrArea></div>
            </fieldset>
          </div>
      </form>
    </div>
  </div>
</ng-template>
